<%- include partials/header.ejs%>



<%- include partials/main_nav.ejs%>

  <div class="container mt-3 mb-5">
  <div class="row">
    <div class="col">
      <div>
      <img src="\Assets\images\Mypic2.jpg" alt="..." class="img-thumbnail">
      </div>
    </div>
    
    <div class="col-7">
      <div>
        <h3></h3>
        <h3></h3>
        <h3>
            Mohammed Hajo
        </h3>
        <ul>
          <li>PMP certified with experience in providing technical support for FTTH</li>
          <li>Excellent verbal and written communication skills with high competency in providing excellent customer service</li>
          <li>Highly analytical and strong proven management skills</li>
          <li>Expert in GPON networks operations for 5 years</li>
          <li>Extensive knowledge in LAN/WAN, wireless systems and Windows-based O/S</li>
          <li>Highly competent in Windows-based servers administration with hands-on experience in Linux based O/S and good VMware experience</li>
          <li>Highly experienced in network administration, switching and routing with excellent problem-solving skills</li>
        </ul>
        <a class="btn btn-primary" href="\Assets\documents\myresume.pdf" target="_blank" role="button">Resume</a>
      </div>
    </div>
  </div>
</div>

  
  

  
<%- include partials/bottom_nav.ejs%>
  
<%- include partials/footer.ejs%>
