<%- include partials/header.ejs%>



<%- include partials/main_nav.ejs%>

  <div class="container mt-3 mb-5">

    <div class="row border border-primary p-2">

      <div class="col-4">
        <img src="\Assets\images\FTTx project.jpg" alt="" width="350" height="300" style="border:5px solid black">
      </div> 

      <div class="col">
        <h3>FTTx</h3>
        <ul>
          <li>Analyzed data for progress and trends reports </li>
          <li>Managed scope, time and cost for the FTTx projects</li>
          <li>Controlled the performance and verified the invoices of the contractors</li>
          <li>Managed the communication between departments to achieve the target</li>
          <li>Supervised and monitored all issues related to Quality Control</li>
        </ul>
      </div>

    </div>

    <div class="row border border-primary p-2">
      <div class="col-4"><img src="\Assets\images\Microwave transmission.jpg" alt="" width="350" height="300" style="border:5px solid black">
      </div>
      <div class="col">
        <h3>Microwave transmission</h3>
        <ul>
          <li>Installed transmission and GSM equipment</li>
          <li>Configured transmission and GSM equipment</li>
          <li>Commissioned transmission and GSM equipment</li>
          <li>Made the test to Get Final Certificate</li>
          <li>Submitted the UAT for the telecom projects</li>
        </ul>
      </div>
    </div>

    <div class="row border border-primary p-2">
      <div class="col-4"><img src="\Assets\images\IP network.jpg" alt="" width="350" height="300" style="border:5px solid black">
      </div>
      <div class="col">
        <h3>IP network</h3>
        <ul>
          <li>Operate and maintain IP network delivering IP data, voice and video to deployed customer access network.</li>
          <li>Provide IP network support of new and existing services and features.</li>
          <li>Support second and third tier escalations for all operational outages in IP network.</li>
          <li>Troubleshoot IP network problems quickly and help provide sound engineering solutions by maintaining deep knowledge of IP network and GPON Network architecture, topology, and up-to-date configuration details.</li>
        </ul>
      </div>
    </div>

    <div class="row p-2">
      <div class="col-4"></div>
      <div class="col">
        <p></p>
      </div>
    </div>

    

  </div>
</div>

  
  

  
<%- include partials/bottom_nav.ejs%>
  
<%- include partials/footer.ejs%>
